# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log

# Terraform generated SSH keys
terraform/m300-key.pem
terraform/m300-key.pub
terraform/m300-key-terraform.pem
terraform/m300-key-terraform.pub

# SSH Keys
*.pem
*.key

# Windows / Editor
.DS_Store
Thumbs.db
.vscode/